html, body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	color: white;
	background-color: #00081d;
	font-family: 'Noto Sans';
	font-size: 1.125rem;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

iframe.video {
	width: 100%;
	min-height: 32rem;
}

div.page-rule {
	max-width: 1400px;
	margin: auto;
}

div.wide-rule {
	max-width: 1600px;
	margin: auto;
}

div.narrow-rule {
	max-width: 1200px;
	margin: auto;
}

p {
	margin-block-start: 0.5rem;
	margin-block-end: 0.5rem;
}

p.strong {
	font-weight: bold;
}

ul, strong {
	margin-block-start: 1rem;
	margin-block-end: 0.5rem;
}

ul {
	display: block;
}

h1 {
	font-size: 36pt;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

article > h1:first-child {
	margin-top: 0;
}

a.button {
	color: inherit;
	text-decoration: inherit;
	border-radius: 50px;
	width: 8rem;
	text-align: center;
	margin: 1rem;
}

a {
	color: #cc5de3;
	color: #CAC;
}

a:hover {
	color: #FFF;
}

div.sourceCode {
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 2rem !important;
}

aside img.downstream-logo {
	display: block;
	height: 12rem;
	max-width: 9rem;
	margin: auto;
}

.centered {
	text-align: center;
}

.flickering {
	animation: flicker 50ms linear infinite;
}

@keyframes flicker {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
